<!DOCTYPE html>
<html>

<head>
    <title>Tres Bednarz digital portfolio</title>
    <link rel="stylesheet" href="/img/me.jpg">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="../public/img/me.jpg" alt="">

    </div>
    {{>footer}}
</body>







</html>