<!DOCTYPE html>
<html>
<head>
    <title>Tres Bednarz digital portfolio</title>
    <link rel="stylesheet" href="/img/me.jpg">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="me" src="/img/me.jpg" >
    
    </div>
    {{>footer}}
</body>







</html>