<!DOCTYPE html>
<html>

<head>
    <title>Tres Bednarz </title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container">
    <header>
        <h1>Tres Bednarz
            
            </h1>
    </header>
        <div class="column-one">

            <div class="section" id="welcome">Web Developer/Graphic Designer
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aliquam et delectus natus consequuntur corporis expedita rem? Aliquid voluptatibus distinctio quidem, facere quos, laboriosam corrupti quod repellendus quisquam sed assumenda?</p>
            </div>

            <div class="section">
                <h1>Link</h1>
            </div>

            <div class="section">
                <h1>About Me</h1>
            </div>

            <div class="section">
                <h1>Resume</h1>
            </div>

        </div>

     

        
    </div>

</body>







</html>